<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">My Ballot Example</h1>
  <p>"To use this ballot you need to import a wallet"</p>
  <div class="col-lg-6 mx-auto">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Mnemonic Phrase</label>
      <div class="col-sm-10">
        <input #mnemonic type="password" class="form-control" id="inputMnemonic" placeholder="Paste Mnemonic Phrase Here">
      </div>
    </div>
  </div>
  <br>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        (click) = "createWallet()"
        type="button"
        disabled class="btn btn-success btn-lg px-4 gap-3">
        Create Wallet
      </button>
      <button
        (click) = "importWallet(mnemonic.value)"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3">
        Import Wallet
      </button>
      <button
        type="button"
        disabled class="btn btn-danger btn-lg px-4 gap-3">
        Connect Wallet
      </button>
    </div>
  <br>
  <div *ngIf="wallet" class="col-lg-6 mx-auto">
    <p>You are connected to the wallet {{wallet.address}}</p>
    <p>This application uses the token at the address {{tokenAddress}}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <div class="card">
      <div class="card-body">
        My ether balance is: {{etherBalance}}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        My voting power is: {{votePower}}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        My token balance is: {{tokenBalance}}
      </div>
    </div>
  </div> 
  <br>  
<div class="col-sm-3 mx-auto"><br>
  <div class="form-group row">
        <label for="ballot">Claim voting tokens here:</label>
        <input 
        #numberTokens 
        class="form-control"
        id="voteTokens"
        type="text" 
        placeholder="# Tokens to Claim"
        />
  </div>
</div>
<br>
<button
  (click)="claimTokens(numberTokens.value)"
  type="button"
  class="btn btn-success btn-lg px-4 gap-3">
  Claim Tokens
</button>  
<div class="col-sm-5 mx-auto"><br>
  <div class="form-group row">
        <label for="ballot">Connect to the ballot here:</label>
        <input 
        #ballotContractAddress 
        class="form-control"
        id="ballot"
        type="text" 
        placeholder="Ballot Contract Address"
        />
  </div>
</div>
<br>
<button
  (click)="connectBallot(ballotContractAddress.value)"
  type="button"
  class="btn btn-success btn-lg px-4 gap-3">
  Connect Ballot
</button>
<div *ngIf="ballotVotePower" class="col-lg-6 mx-auto">
  <p>You have the following vote power for this ballot: {{ballotVotePower}}</p>
  <p>You have spent the following vote power: {{ballotVotePowerSpent}}</p>
  <div class="col-sm-7 mx-auto"><br>
    <div class="form-group row">
          <label for="delegate">Delegate your votes to address:</label>
          <input 
          #delegateAddress 
          class="form-control"
          id="votePower"
          type="text" 
          placeholder="Address"
          />
    </div>
  </div>
  <br>
  <button
    (click)="delegateVotes(delegateAddress.value)"
    type="button"
    class="btn btn-success btn-lg px-4 gap-3">
    Delegate
  </button> 
  <div class="col-sm-3 mx-auto"><br>
    <div class="form-group row">
          <label for="vote">Vote for Proposal:</label>
          <input 
          #selection 
          class="form-control"
          id="voteTokens"
          type="text" 
          placeholder="Proposal #"
          />
    </div>
    <div class="form-group row">
      <label for="vote"># Votes to use:</label>
      <input 
      #numberVotes
      class="form-control"
      id="voteAmount"
      type="text" 
      placeholder="Proposal #"
      />
</div>
  </div>
  <br>
  <button
    (click)="vote(selection.value, numberVotes.value)"
    type="button"
    class="btn btn-success btn-lg px-4 gap-3">
    Vote
  </button> 
  <div *ngIf="winningProposal" class="col-lg-6 mx-auto">
    <p>The winning proposal is: {{winningProposal}}</p>
 </div>
  <div class="col-sm-3 mx-auto"><br>
    <p>Get the Results of Vote</p>
    <button
    (click)="queryResult()"
    type="button"
    class="btn btn-success btn-lg px-4 gap-3">
    Results
  </button> 
  </div>
  <br>
</div>
